@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  @apply text-blue-500 border-b-2 border-blue-400 transition-all duration-100
}
li{
  list-style: none;
}
.active {
  color: white;
}

.nav-link {
  transition: color 0.3s ease; /* Add a transition for the color change */
}
.banner {
  background-image: url('https://i.imgur.com/exampleImageURL.jpg');
}


